:root {
    --color: rgb(43, 42, 42);
    --background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    --border: #8f61df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All page */
.all-page {
    height: 100vh;
    background: var(--background);
}

/* Play ground */
.play-ground {
    display: grid;
    grid-template-areas:
    'scorePlayer0 . scorePlayer1'
    'currentScore0 main currentScore1'
    '. middleText .';
    width: 80%;
    height: 80%;
    background: #FBEAFF;
    position: absolute;
    top: 10%;
    left: 10%;
}

/* Total score */
.total-score {
    font-size: 1.5rem;
    color: var(--color);
    font-weight: bold;
}

.total-score p:nth-of-type(2) {
    text-align: center;
    font-size: 1.8rem;
}


/* Curren score */
.current-score {
    width:  9rem;
    height: 9rem;
    border-radius: 0.9rem;
    background-image: var(--background);
}

.current-score p {
    font-size: 1.2rem;
    color: var(--color);
    text-align: center;
    padding-top: 1.2rem;
}

.current-score p:nth-child(2) {
    font-size: 1.6rem;
}


/* Grid items */
.item1 { 
    grid-area: scorePlayer0;
    justify-self: center;
    align-self: center;
}

.item2 {
     grid-area: scorePlayer1;
     justify-self: center;
     align-self: center;
}

.item3 { 
    grid-area: currentScore0;
    justify-self: center;
    align-self: start;
}

.item4 { 
    grid-area: currentScore1; 
    justify-self: center;
    align-self: start;
}

.item5 { 
    grid-area: main;
    justify-self: center;
    align-self: center;
}

.item6 { 
    grid-area: middleText;
    align-self: center;
    
}

/* Buttons */
.middle-text {
   font-size: 1.3rem;
   color: var(--color);
}

.btn {
    border: 0.1rem solid var(--border);
    padding: 0.3rem  0.6rem;
    text-align: center;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    background-image: var(--background);
    max-width: 40rem;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


/* Active player */
.active {
    padding: 0.3rem  0.6rem;
    border-radius: 0.9rem;
    border: 0.1rem solid var(--border);
    background-image: var(--background);
}
